@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Database</h1>
    <p class="lead">All your favorite films in one place.</p>
    <p><a href="@Url.Action("Index", "Movie")" class="btn btn-primary btn-lg">View</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Hosting</h2>
        <p>
            This application is hosted in Azure and utilizes an Azure SQL Database
        </p>
    </div>
</div>